<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>footer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">footer</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-footer>
  <ion-toolbar>
    <div class="footer-icons">
      <ion-button routerLink="/home">
        Home  
      </ion-button>
      <ion-button routerLink="/message">
        Messges
      </ion-button>
      <!-- <a >Go to Home</a> -->
      <!-- <a routerLink="/message">  </a> 
      <a routerLink="/notification"> <mat-icon>account_circle</mat-icon> </a>  -->
    </div>
  </ion-toolbar>  
</ion-footer>
