<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">notifications</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-card class="hoverEffect m-10 p-3">
  <p class="fs-6 fw-bold border-2">Apply Success</p>
  <p class="border-2">You has apply an job in Queenify Group as UI Designer</p>
  <div class="d-flex flex-row justify-content-between">
    <div class="hrs">10h ago</div>
    <div>Mark as read</div>
  </div>
</ion-card>
</ion-content>





